Input-files: *.txt content/*.txt globals/*.txt globals/macros/*.txt header/macros/*.txt footer/macros/*.txt item_details/*.txt item_details/macros/*.txt shopping_cart/*.txt shopping_cart/macros/*.txt wizard/*.txt order_wizard/*.txt creditcard/*.txt creditcard/macros/*.txt address/*.txt address/macros/*.txt login_register/*.txt login_register/macros/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates