Input-files: *.txt address/*.txt creditcard/*.txt globals/*.txt home/*.txt header/*.txt footer/*.txt order/*.txt return_authorization/*.txt list_header/*.txt profile/*.txt receipt/*.txt reorder_items/*.txt shopping_cart/*.txt item_details/macros/*.txt content/*.txt case_management/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates
